---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/index/NavBar.astro";
import Home from "../components/index/Home.astro";
import About from "../components/index/About.astro";
import Skills from "../components/index/Skills.astro";
import Services from "../components/index/Services.astro";
import Projects from "../components/index/Projects.astro";
import Contact from "../components/index/Contact.astro";
import Footer from "../components/index/Footer.astro";
---

<Layout title="Home">
  <!--==================== HEADER ====================-->
  <header class="header" id="header">
    <NavBar />
  </header>

  <!--==================== MAIN ====================-->
  <main class="main">
    <!--==================== HOME ====================-->
    <Home />

    <!--==================== ABOUT ====================-->
    <About />

    <!--==================== SKILLS ====================-->
    <Skills />

    <!--==================== SERVICES ====================-->
    <Services />

    <!--==================== PROJECTS ====================-->
    <Projects />

    <!--==================== CONTACT ====================-->
    <Contact />
  </main>

  <!--==================== FOOTER ====================-->
  <Footer />
</Layout>

<script lang="ts">
/*=============== SHOW SCROLL UP ===============*/

/*=============== SCROLL SECTIONS ACTIVE LINK ===============*/

/*=============== SCROLL REVEAL ANIMATION ===============*/
</script>
