---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h1 class="text-3xl">
    <i class="ri-thumb-up-fill"></i>
    Welcome to my Portfolio
  </h1>

  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p><p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aut expedita
      nostrum alias libero reiciendis aperiam nemo recusandae eveniet facere
      ratione excepturi animi in sequi reprehenderit voluptatum, voluptas
      explicabo. Nihil. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Reprehenderit ipsam voluptate vel quos quam ab nesciunt vero,
      doloribus quae, recusandae omnis laborum neque eum perspiciatis tempore
      veritatis dicta necessitatibus impedit. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum illum quaerat dolorem tempora ipsam
      totam nemo animi aperiam consequuntur odit, accusantium quas voluptatum
      iure beatae aliquid repellat maiores. Aspernatur, excepturi?
    </p>
  </main>
</Layout>
