<section class="contact section" id="contact">
    <h3 class="section__subtitle">
        Get In <span>Touch</span>
    </h3>

    <h2 class="section__title">Contact Me</h2>

    <div class="contact__container container grid">
        <form action="" class="contact__form" id="contact-form">
            <div class="contact__group">
                <input
                    type="text"
                    name="user_name"
                    required
                    placeholder="Enter your name"
                    class="contact__input"
                />
                <input
                    type="email"
                    name="user_email"
                    required
                    placeholder="Enter your email"
                    class="contact__input"
                />
            </div>

            <textarea
                name="user_project"
                required
                placeholder="Enter your message"
                class="contact__input"></textarea>

            <p class="contact__message" id="contact-message"></p>

            <button
                type="submit"
                class="button contact__button"
                id="contact-button"
            >
                <i class="ri-loader-line rotate-infinite"></i>
                Send Message
            </button>
        </form>
    </div>
</section>

<style>
    /*=============== CONTACT ===============*/
    .contact__container {
        padding-top: 1rem;
    }

    .contact__form,
    .contact__group {
        display: grid;
        row-gap: 1rem;
    }

    .contact__form {
        position: relative;
    }

    .contact__input {
        padding: 1rem 1.25rem;
        border-radius: 0.5rem;
        background-color: var(--container-color);
        color: var(--title-color);
    }

    .contact__input::placeholder {
        color: var(--text-color);
    }

    .contact__form textarea {
        height: 11rem;
        resize: none;
        margin-bottom: 2rem;
    }

    .contact__button {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-self: center;
        cursor: pointer;
    }

    .contact__button i {
        display: none;
    }

    .contact__button:disabled {
        background-color: var(--first-color-alt);
    }

    .contact__button:disabled i {
        display: inline-block;
    }

    .contact__message {
        position: absolute;
        left: 0;
        bottom: 4.5rem;
        font-size: var(--small-font-size);
        color: var(--title-color);
    }
</style>

<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>

<script lang="ts">
/*=============== EMAIL JS ===============*/
const contactForm = document.getElementById("contact-form"),
    contactMessage = document.getElementById("contact-message"),
    contactButton = document.getElementById("contact-button");

const sendEmail = (e) => {
    e.preventDefault();

    contactButton.disabled = true;

    // serviceID - templateID - #form - publicKey
    emailjs
        .sendForm(
            "service_cl06lcy",
            "template_bqi7e5z",
            "#contact-form",
            "npnSTAhx9V89A-qA2"
        )
        .then(
            () => {
                // Show sent message
                contactMessage.textContent = "Message sent successfully ✅";

                // Remove message after five seconds
                setTimeout(() => {
                    contactMessage.textContent = "";
                }, 5000);

                // Clear input fields
                contactForm.reset();
                contactButton.disabled = false;
            },
            () => {
                // Show error message
                contactMessage.textContent =
                    "Message not sent (service error) ❌";
                contactButton.disabled = false;
            }
        );
};

contactForm.addEventListener("submit", sendEmail);
</script>
