<section class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__content">
            <div class="home__data">
                <h3 class="home__subtitle">
                    Hello, <span>I'm</span>
                </h3>

                <h1 class="home__title">Liosvel Medina</h1>

                <h3 class="home__education">Software Developer</h3>

                <p class="home__description">
                    With knowledge in web and Android development, I offer the
                    best resulting in quality work.
                </p>

                <a href="#contact" class="button">Let's Talk</a>
            </div>

            <div class="home__social">
                <a
                    href="https://github.com/liosvel-medina"
                    target="_blank"
                    class="home__social-link"
                >
                    <i class="ri-github-fill"></i>
                </a>
                <a
                    href="https://cu.linkedin.com/in/liosvel-medina-molina-679a64229"
                    target="_blank"
                    class="home__social-link"
                >
                    <i class="ri-linkedin-box-fill"></i>
                </a>
                <a
                    href="https://www.facebook.com/LiosvelMedinaMolina"
                    target="_blank"
                    class="home__social-link"
                >
                    <i class="ri-facebook-box-fill"></i>
                </a>
            </div>
        </div>

        <div class="home__image">
            <svg
                class="home__blob"
                viewBox="0 0 550 591"
                xmlns="http://www.w3.org/2000/svg"
            >
                <mask id="maskBlob" mask-type="alpha">
                    <path
                        d="M263 47.1782C270.426 42.891 279.574 42.891 287 47.1782L501.157 
             170.822C508.583 175.109 513.157 183.032 513.157 191.606V438.894C513.157 
             447.468 508.583 455.391 501.157 459.678L287 583.322C279.574 587.609 270.426 
             587.609 263 583.322L48.843 459.678C41.4174 455.391 36.843 447.468 36.843 
             438.894V191.606C36.843 183.032 41.4174 175.109 48.843 170.822L263 47.1782Z"
                    ></path>
                </mask>
                <g mask="url(#maskBlob)">
                    <path
                        d="M263 47.1782C270.426 42.891 279.574 42.891 287 47.1782L501.157 
             170.822C508.583 175.109 513.157 183.032 513.157 191.606V438.894C513.157 
             447.468 508.583 455.391 501.157 459.678L287 583.322C279.574 587.609 270.426 
             587.609 263 583.322L48.843 459.678C41.4174 455.391 36.843 447.468 36.843 
             438.894V191.606C36.843 183.032 41.4174 175.109 48.843 170.822L263 47.1782Z"
                    ></path>

                    <rect x="37" width="476" height="630" fill="url(#pattern0)"
                    ></rect>
                </g>

                <rect x="37" width="476" height="300" fill="url(#pattern1)"
                ></rect>

                <defs>
                    <pattern
                        id="pattern0"
                        patternContentUnits="objectBoundingBox"
                        width="1"
                        height="1"
                    >
                        <use
                            href="#imageBlob"
                            transform="matrix(0.00143057 0 0 0.00108108 0.0404062 0)"
                        ></use>
                    </pattern>

                    <pattern
                        id="pattern1"
                        patternContentUnits="objectBoundingBox"
                        width="1"
                        height="1"
                    >
                        <use
                            href="#imageBlob"
                            transform="matrix(0.00143057 0 0 0.00226984 0.0404062 0)"
                        ></use>
                    </pattern>

                    <!-- Insert your profile (recommended size: 640 x 940) -->
                    <image
                        class="home__img"
                        id="imageBlob"
                        width="640"
                        height="925"
                        href="/img/profile.png"
                    />
                </defs>
            </svg>
        </div>
    </div>
</section>

<style>
    /*=============== HOME ===============*/
    .home {
        background-color: var(--container-color);
    }

    .home__container {
        padding-top: 2rem;
        row-gap: 2.5rem;
    }

    .home__content {
        display: grid;
        row-gap: 2rem;
    }

    .home__data {
        text-align: center;
    }

    .home__subtitle,
    .home__education {
        font-size: var(--bigger-font-size);
    }

    .home__subtitle span,
    .home__title {
        color: var(--first-color);
    }

    .home__title {
        font-size: var(--biggest-font-size);
        font-weight: var(--font-semi-bold);
    }

    .home__description {
        margin-block: 1rem 1.5rem;
    }

    .home__social {
        display: flex;
        justify-content: center;
        column-gap: 1.25rem;
    }

    .home__social-link {
        display: flex;
        background-color: var(--first-color-alt);
        padding: 0.5rem;
        color: var(--title-color);
        font-size: 1.5rem;
        clip-path: polygon(
            50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%
        );
        transition: transform 0.4s;
    }

    .home__social-link:hover {
        transform: translateY(-0.25rem);
    }

    .home__image {
        justify-self: center;
    }

    .home__blob {
        width: 320px;
        fill: var(--first-color);
        filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.25));
    }

    .home__img {
        /* width: 900px; */
        transform: translateX(-35px);
    }

    /* For medium devices */
    @media screen and (min-width: 576px) {
        .home__container {
            grid-template-columns: 360px;
            justify-content: center;
        }
    }

    @media screen and (min-width: 768px) {
        .home__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        .home__data {
            text-align: initial;
        }

        .home__social {
            justify-content: initial;
        }

        .home__blob {
            width: 400px;
        }
    }

    @media screen and (min-width: 1152px) {
        .home__container {
            grid-template-columns: 480px 550px;
            column-gap: 5rem;
            padding-block: 2rem 3rem;
        }

        .home__blob {
            width: 550px;
        }

        .home__content {
            row-gap: 4.5rem;
        }

        .home__description {
            margin-block: 1.5rem 2.5rem;
        }

        .home__social {
            column-gap: 1.5rem;
        }
    }
</style>
