<nav class="nav container">
    <a href="/" class="nav__logo">
        Liosvel <span>Medina</span>
    </a>

    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#home" class="nav__link">Home</a>
            </li>

            <li class="nav__item">
                <a href="#about" class="nav__link">About</a>
            </li>

            <li class="nav__item">
                <a href="#services" class="nav__link">Services</a>
            </li>

            <li class="nav__item">
                <a href="#projects" class="nav__link">Projects</a>
            </li>

            <li class="nav__item">
                <a href="#contact" class="nav__link">Contact</a>
            </li>
        </ul>

        <!-- Close button -->
        <div class="nav__close" id="nav-close">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <!-- Toggle button -->
    <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line"></i>
    </div>
</nav>

<style is:global>
    /*=============== HEADER & NAV ===============*/
    .header {
        position: fixed;
        width: 100%;
        background-color: var(--container-color);
        top: 0;
        left: 0;
        z-index: var(--z-fixed);
    }

    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    .nav__logo span {
        color: var(--first-color);
    }

    .nav__toggle,
    .nav__close {
        display: flex;
        font-size: 1.25rem;
        color: var(--title-color);
        cursor: pointer;
    }

    /* Navigation for mobile devices */
    @media screen and (max-width: 1023px) {
        .nav__menu {
            position: fixed;
            top: 0;
            right: -100%;
            background-color: hsla(0, 0%, 10%, 0.3);
            width: 75%;
            height: 100%;
            padding: 4.5rem 0 0 3rem;
            backdrop-filter: blur(24px);
            -webkit-backdrop-filter: blur(24px);
            transition: right 0.4s;
        }
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    .nav__link {
        color: var(--title-color);
        font-weight: var(--font-medium);
        transition: color 0.4s;
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    .nav__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }

    /* Show menu */
    .show-menu {
        right: 0;
    }

    /* Add blur to header */
    .blur-header {
        background-color: transparent;
    }

    .blur-header::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1000%;
        height: 100%;
        background-color: hsla(0, 0%, 10%, 0.3);
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        z-index: -1;
    }

    /* Active link */
</style>

<script lang="ts">
/*=============== SHOW MENU ===============*/
const navMenu = document.getElementById("nav-menu"),
    navToggle = document.getElementById("nav-toggle"),
    navClose = document.getElementById("nav-close");

// MENU SHOW
if (navToggle) {
    navToggle.addEventListener("click", () => {
        navMenu.classList.add("show-menu");
    });
}

if (navClose) {
    navClose.addEventListener("click", () => {
        navMenu.classList.remove("show-menu");
    });
}

/*=============== REMOVE MENU MOBILE ===============*/
const navLink = document.querySelectorAll(".nav__link");

const linkAction = () => {
    const navMenu = document.getElementById("nav-menu");
    navMenu.classList.remove("show-menu");
};

navLink.forEach((n) => n.addEventListener("click", linkAction));

/*=============== ADD BLUR TO HEADER ===============*/
const blurHeader = () => {
    const header = document.getElementById("header");
    this.scrollY >= 50
        ? header.classList.add("blur-header")
        : header.classList.remove("blur-header");
};
window.addEventListener("scroll", blurHeader);
</script>
