<nav class="nav container">
    <a href="/" class="nav__logo">
        Liosvel <span>Medina</span>
    </a>

    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#home" class="nav__link">Home</a>
            </li>

            <li class="nav__item">
                <a href="#about" class="nav__link">About</a>
            </li>

            <li class="nav__item">
                <a href="#services" class="nav__link">Services</a>
            </li>

            <li class="nav__item">
                <a href="#projects" class="nav__link">Projects</a>
            </li>

            <li class="nav__item">
                <a href="#contact" class="nav__link">Contact</a>
            </li>
        </ul>

        <!-- Close button -->
        <div class="nav__close" id="nav-close">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <!-- Toggle button -->
    <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line"></i>
    </div>
</nav>

<script lang="ts">
/*=============== SHOW MENU ===============*/
const navMenu = document.getElementById("nav-menu"),
    navToggle = document.getElementById("nav-toggle"),
    navClose = document.getElementById("nav-close");

// MENU SHOW
if (navToggle) {
    navToggle.addEventListener("click", () => {
        navMenu.classList.add("show-menu");
    });
}

if (navClose) {
    navClose.addEventListener("click", () => {
        navMenu.classList.remove("show-menu");
    });
}

/*=============== REMOVE MENU MOBILE ===============*/
const navLink = document.querySelectorAll(".nav__link");

const linkAction = () => {
    const navMenu = document.getElementById("nav-menu");
    navMenu.classList.remove("show-menu");
};

navLink.forEach((n) => n.addEventListener("click", linkAction));

/*=============== ADD BLUR TO HEADER ===============*/
const blurHeader = () => {
    const header = document.getElementById("header");
    this.scrollY >= 50
        ? header.classList.add("blur-header")
        : header.classList.remove("blur-header");
};
window.addEventListener("scroll", blurHeader);
</script>
