<section class="services section" id="services">
    <h3 class="section__subtitle">
        My <span>Services</span>
    </h3>

    <h2 class="section__title">What I Do</h2>

    <div class="services__container container grid">
        <article class="services__card">
            <i class="ri-layout-3-line services__icon"></i>
            <h2 class="services__title">Frontend Developer</h2>
            <p class="services__description">
                Development of high-quality user interfaces and experiences for
                web applications using the latest Frontend technologies and
                frameworks.
            </p>
        </article>

        <article class="services__card">
            <i class="ri-android-line services__icon"></i>
            <h2 class="services__title">Android Developer</h2>
            <p class="services__description">
                I offer design and develop of high-quality Android apps that
                will help you achieve your business goals.
            </p>
        </article>

        <article class="services__card">
            <i class="ri-server-line services__icon"></i>
            <h2 class="services__title">Backend Developer</h2>
            <p class="services__description">
                I create custom backend solutions tailored to your specific
                needs and requirements, ensuring that your application runs
                smoothly and seamlessly.
            </p>
        </article>
    </div>
</section>

<style>
    /*=============== SERVICES ===============*/
    .services__container {
        row-gap: 2rem;
        padding-block: 1rem;
    }

    .services__card {
        text-align: center;
        background-color: var(--container-color);
        padding: 3rem 1.25rem;
        border-radius: 1rem;
        border: 2px solid var(--container-color);
        transition: border 0.4s;
    }

    .services__card:hover {
        border: 2px solid var(--first-color);
    }

    .services__icon {
        display: block;
        font-size: 4rem;
        color: var(--first-color);
        margin-bottom: 0.75rem;
    }

    .services__title {
        font-size: var(--h2-font-size);
        margin-bottom: 1.5rem;
    }

    /* For small devices */
    @media screen and (max-width: 320px) {
        .services__card {
            padding-block: 1.5rem;
        }
    }

    /* For medium devices */
    @media screen and (min-width: 576px) {
        .services__container {
            grid-template-columns: 360px;
            justify-content: center;
        }
    }

    @media screen and (min-width: 768px) {
        .services__container {
            grid-template-columns: repeat(2, 352px);
        }
    }

    @media screen and (min-width: 1152px) {
        .services__container {
            grid-template-columns: repeat(3, 352px);
            padding-block: 2.5rem 4rem;
        }

        .services__card {
            padding: 3.5rem 2rem;
        }
    }
</style>
