<section class="skills section">
    <div class="skills__container container grid">
        <div class="skills__data">
            <h3 class="section__subtitle">
                Favorite <span>Skills</span>
            </h3>

            <h2 class="section__title">My Skills</h2>

            <p class="skills__description">
                See fully what skills I have and perform, to develop the
                projects for you.
            </p>

            <a href="#projects" class="button">See Projects</a>
        </div>

        <div class="skills__content">
            <ol class="skills_group">
                <li class="skills__item">HTML & CSS</li>
                <li class="skills__item">JavaScript</li>
                <li class="skills__item">Angular</li>
                <li class="skills__item">Vue</li>
            </ol>

            <ol class="skills_group" start="5">
                <li class="skills__item">Android</li>
                <li class="skills__item">Java</li>
                <li class="skills__item">Python</li>
                <li class="skills__item">Git & GitHub</li>
            </ol>
        </div>
    </div>
</section>
