---
import "../css/style.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="I'm Liosvel Medina. Discover my portfolio with innovative and creative projects that demonstrate my passion for software development. Find out about my skills and achievements in Android, Frontend, Backend, etc.!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/logo-250.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Liosvel Medina | Portfolio | {title}</title>

    <meta name="keywords" content="portfolio,software,developer,programmer,web,frontend,backend">

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
